.pen .navbar-toggle {
	border: none;
	background: transparent !important;
}

.pen .navbar-toggle:hover {
	background: transparent !important;
}

.pen .navbar-toggle .icon-bar {
	width: 22px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.navbar-toggle{
	margin-top: 40px;
}

/* ANIMATED X */
.navbar-toggle.x .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}

/* ANIMATED X COLLAPSED */
.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

/* FORCE NAVBAR-TOGGLE */

.pen .navbar-header {
	float: none;
	height: 118px;
	background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #434343, #222222); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.pen .navbar-toggle {
	display: block;
}

.pen .navbar-collapse {
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

.pen .navbar-collapse.collapse {
	display: none !important;
}

.pen .navbar-nav {
	float: none !important;
	margin: 7.5px -15px;
}

.pen .navbar-nav > li {
	float: none;
}

.pen .navbar-nav > li > a {
	padding-top: 20px;
	padding-bottom: 20px;
}

.pen .navbar-collapse.collapse.in {
	display: block !important;
}

.pen .navbar-brand {
  font-size:24px;
  font-weight: 400;
  color: #bebebe;

}

.roll-in-right{
	-webkit-animation:roll-in-right .6s ease-out both;
	animation:roll-in-right 3.6s ease-out both;
	animation-delay: 3s;
}


 @-webkit-keyframes roll-in-right{
	 0%{-webkit-transform:translateX(800px) rotate(540deg);transform:translateX(800px) rotate(540deg);opacity:0}
	 100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}
	 @keyframes roll-in-right{0%{-webkit-transform:translateX(800px) rotate(540deg);transform:translateX(800px) rotate(540deg);opacity:0}
	 100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}


pen .navbar-nav > li > a {
    font-weight: 100;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.3em;
}
.glyphicon {
    color: #705858;
    position: relative;
    top: 0px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 5px;
}




span {
  font-family:helvetica;
  font-weight:100;
  color:#e70d0d;
  font-stretch: 4px;
	font-size: 24px;
	
  
}
a {
  font-family:helvetica;
  font-weight:900;
  
  
}
i {
  color:#ff8c69;
  font-size:1em;
  padding-right:0.4em;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
}

  
  
  .jumbotron-fluid {
	background-image: url("images/shoichiro-kono-583118-unsplash.jpg")!important;
	padding-right: 0;
	padding-left: 0;
	border-radius: 0;
	background-color: rgb(0, 0, 0);
  }


.jumbotron {
	background-image: url("../images/nick-karvounis-72018-unsplash.jpg");
	/* background-color: rgb(0, 0, 0); */
	color: rgb(255, 255, 255);
	font-family: Helvetica, Arial,  sans-serif;
	background-size:110%;
	background-repeat: no-repeat;
	background-position: 19% 100%;
	height: 250px;
}

.display-4 {
	text-align: center;
}




  .jumbotron h1 {
   
    color: #ffffff;
    
    font-size: 2em;
    
    text-align: center;
    width: 34%;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .05em; /* Adjust as needed */
	animation: 
	typing 2.5s steps(30, end),
	blink-caret 0.75s step-end infinite;

    
}

/* The typing effect */
@keyframes typing {
	from { width: 0% ;
	opacity: 0;}
	to { width: 30%;
	opacity: 1; }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	0% { border-color: #ee003b; }
  }



.jumbotron p {
	color: rgb(2, 2, 2);
	background-color:#ffffff9F;
	font-size: 1em;
	text-align: right;
	margin-right: 50px;
	margin-top: 80px;
	
	
}

.panel-heading {
	background-color: #222222;
	border: none;
}

.panel-body {
	background-color: #222222;
	color: dimgray;
	border: none;
}
.panel-default>.panel-heading {
    color: dimgray;
    background-color: #222222;
	border: none;
	
}

.panel {
    margin-bottom: 21px;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.panel p {
    font-size: 20px;
    text-align: justify;
	color: #a09d9d;
	
}

.panel h2 {
	font-size: 40px;
	color: #c6c6c6;
}


.btn-custom {
	font-size: 20px;
	font-weight: 100;
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 50px;
	color: #f0efef;
	background-color: transparent;
	border: 1px solid #bebebe;
	transition: all 1s;
	
}

.btn-custom:hover {
	background-color: #ee003b;
	color: #f0efef;
	border: 1px solid #ee003b;
	
}

.bg {
	background-color: #222222;
	margin: 0px;
	height: 200px;
	
}

.pizza {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0;
    text-align: justify;
    background-image: url("https://carrd.co/assets/images/bg.svg"),linear-gradient(45deg, rgb(10, 1, 9) 25%, #2c0404 75%);
    background-size: cover, cover;
    background-position: top, center;
    background-repeat: no-repeat, no-repeat;
    cursor: default;
}


@media only screen and (max-width: 900px){
.jumbotron {
	padding: 4rem 2rem;
	}
	.jumbotron h1 {
		font-family: 'Major Mono Display', monospace;
		font-weight: 900;
		color: #e70d0d;
		text-transform: lowercase;
		font-size: 0.5em;
		margin-top: 50px;
		/* background-color:#ffffff9F; */
		text-align: left;
		margin-left: 5px;
		background-color:#ffffffc4;
		background-size: 30%;
		width: 40%;
		padding: 10px;
	}
}

/* style carte.html */

#carte .jumbotron {
	background-image: url("../images/chopsticks-close-up-cuisine-271715.jpg");
	background-position: 20% 60%;
	background-size: 100%;
}

#carte .glyphicon-leaf:before {
    color: #ee003b;
    content: "\e103";
}
  /* style photos.html */

#photos .jumbotron {
	background-image: url("../images/filippo-andolfatto-456053-unsplash.jpg");
	background-position: 30% 20%;
	background-size: 100%;
	background-clip: border-box;
}

#photos .glyphicon-picture:before {
    color: #ee003b;
    content: "\e103";
}

/* style restaurants.html */

#restaurants .jumbotron {
	background-image: url("../images/chopsticks-close-up-cuisine-271715.jpg");
	background-position: 30% 60%;
}

#restaurants .glyphicon-map-marker:before {
    color: #ee003b;
    content: "\e103";
}

/* style contact.html */

#contact .jumbotron {
	background-image: url("../images/kyle-head-465761-unsplash.jpg");
	background-position: 30% 60%;
}

#contact .glyphicon-send:before {
	content: "\e171";
	color: #ee003b;
}


