.pen .navbar-toggle {
	border: none;
	background: transparent !important;
}

.pen .navbar-toggle:hover {
	background: transparent !important;
}

.pen .navbar-toggle .icon-bar {
	width: 22px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}


/* ANIMATED X */
.navbar-toggle.x .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}

/* ANIMATED X COLLAPSED */
.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

/* FORCE NAVBAR-TOGGLE */

.pen .navbar-header {
	float: none;
}

.pen .navbar-toggle {
	display: block;
}

.pen .navbar-collapse {
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

.pen .navbar-collapse.collapse {
	display: none !important;
}

.pen .navbar-nav {
	float: none !important;
	margin: 7.5px -15px;
}

.pen .navbar-nav > li {
	float: none;
}

.pen .navbar-nav > li > a {
	padding-top: 20px;
	padding-bottom: 20px;
}

.pen .navbar-collapse.collapse.in {
	display: block !important;
}

.pen .navbar-brand {
  font-size:24px;
}
span {
  font-family:helvetica;
  font-weight:100;
  color:coral;
}
a {
  font-family:helvetica;
  font-weight:900;
  
  
}
i {
  color:#ff8c69;
  font-size:1em;
  padding-right:0.4em;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
	background: 
}

  
  
  .jumbotron-fluid {
	background-image: url("images/shoichiro-kono-583118-unsplash.jpg")!important;
	padding-right: 0;
	padding-left: 0;
	border-radius: 0;
	background-color: rgb(0, 0, 0);
  }


.jumbotron {
	background-image: url("images/arc.jpg")!important;
	/* background-color: rgb(0, 0, 0); */
	color: rgb(255, 255, 255);
	font-family: Helvetica, Arial,  sans-serif;
	background-size:100%;
	background-blend-mode:;
	background-repeat: no-repeat;
	background-position: 20% 40%;
	height: 300px;
	
	
}

@media (min-width: 576px) {
	.jumbotron {
	  padding: 4rem 2rem;
	}
  }

.jumbotron h1 {
	font-family: 'Major Mono Display', monospace;
	font-weight: 100;
	color: #a22a2b;
	text-transform: lowercase;
	font-size: 1.5em;
	margin-top: 50px;
	/* background-color:#ffffff9F; */
	text-align: left;
	margin-left: 5px;
	
}

.jumbotron p {
	color: black;
	/* background-color:#ffffff9F; */
	font-size: 1em;
	text-align: right;
	margin-right: 50px;
	margin-top: 80px;
	
	
}

.panel-heading {
	background-color: #222222;
	border: none;
}

.panel-body {
	background-color: #222222;
	color: dimgray;
	border: none;
}
.panel-default>.panel-heading {
    color: dimgray;
    background-color: #222222;
	border: none;
	
}

.panel {
    margin-bottom: 21px;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}


.btn-custom {
	background-color: #381103;
	
}
.row {

}
.bg {
	background-color: #222222;
	margin: 0px;
	height: 200px;
	
}

.pizza {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0;
    text-align: justify;
    background-image: url("https://carrd.co/assets/images/bg.svg"),linear-gradient(45deg, rgb(10, 1, 9) 25%, #2c0404 75%);
    background-size: cover, cover;
    background-position: top, center;
    background-repeat: no-repeat, no-repeat;
    cursor: default;
}





